<style>
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital@0;1&display=swap');
</style>

 /*------------- Whole Document---------------- */
 
body {
font-family: 'Montserrat', sans-serif;
font-size: 19px;
}

/*----------------- links ---------------------*/

a { 
  color: #violet;
}
  a:hover {
    color: #purple; /* darker color when hovering */
  }